<template>
	<div>
		<FilterMaterial/>

		<div class="title-bar">
			Lista de materiales
		</div>

		<div class="new-material">
			<v-btn
				dark
				color="#FF5000"
				@click="$router.push( { name: 'material-setting' } )"
			>
				Nuevo Material
			</v-btn>
		</div>

		<CardMaterial
			v-for="(item, index) in materials"
			:key="`material-${index}`"
			:material="item"
		/>
	</div>
</template>

<script>
import { mapState, mapActions } from "vuex";

import CardMaterial from '@/components/CardMaterial';
import FilterMaterial from '@/components/FilterMaterial'


export default {
	name: 'home-page',

	components: {
		CardMaterial,
		FilterMaterial,
	},

    computed: {
        ...mapState ( {
            materials: state => state.storecontrol.materials,
        } ),
    },

	mounted(){
		this.loadMaterials();
	},

	methods: {
		...mapActions( "storecontrol", [ "loadMaterials" ] ),
	}
}
</script>
<style lang="scss" scoped>
.title-bar {
	margin: 2rem auto;
	max-width: 1024px;
	color: white;
	background-color: #4A4A4A;
	padding: 0.3rem 1rem;
	text-transform: uppercase;
}

.new-material{
	margin: 2rem auto;
	max-width: 1024px;
	text-align: right;
}
</style>