<template>
	<div>
		<div class="new-material-out">
			<v-btn
				text
				color="#FF5000"
				@click="$router.push( { name: 'material' } )"
			>
				<v-icon>
					mdi-chevron-left
				</v-icon>
				Ir a Materiales
			</v-btn>
		</div>

		<div class="title-bar">
			Nuevo material
		</div>

		<FormMaterial/>

	</div>
</template>

<script>
import FormMaterial from '@/components/FormMaterial'
export default {
	name: 'material-setting',

	components: {
		FormMaterial
	}
}
</script>
<style lang="scss" scoped>
.title-bar {
	margin: 2rem auto;
	max-width: 1024px;
	color: white;
	background-color: #828282;
	padding: 0.3rem 1rem;
	text-transform: uppercase;
}

.new-material-out{
	margin: 2rem auto;
	max-width: 1024px;
	text-align: right;
}
</style>