<template>
	<v-card
		max-width="1024"
		class="material"
	>
		<v-row>
			<v-col 
				cols="5" 
				class="details-left" 
			>
				<div>
					<h2 class="text-h4">
						{{ material.title_commercial }}
					</h2>

					<div>
						Cod: Material: {{ material.code.toUpperCase() }}
					</div>
				</div>

			</v-col>

			<v-col cols="7" class="details">
				<div class="icon-tools text-right">
					<v-btn
						depressed
						dark
						color="#828282"
						:disabled="!material.status"
					>
						<v-icon>
							mdi-content-cut
						</v-icon>
					</v-btn>

					<v-btn
						depressed
						dark
						color="#088C94"
						:disabled="!material.status"
					>
						<v-icon>
							mdi-lead-pencil
						</v-icon>
					</v-btn>

					<v-dialog
					v-model="showAlertDown"
					persistent
					max-width="480"
					>
						<template v-slot:activator="{ on, attrs }">
							<v-btn
								depressed
								dark
								color="#ED7037"
								v-bind="attrs"
								v-on="on"
								:disabled="!material.status"
							>
								<v-icon>
									<template v-if="material.status">
										mdi-lock-open
									</template>
									<template v-else>
										mdi-lock
									</template>
								</v-icon>
							</v-btn>
						</template>
						<v-card class="pt-5">
							<v-card-text>
								<v-icon class="mr-4">
									mdi-emoticon-confused-outline
								</v-icon> Si das de baja a este material ya no podrás programarlo.
								<p>Seguro que quieres continuar?</p>
							</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>

								<v-btn
								color="#FF5000"
								outlined
								@click="confirmDown(material.id)"
								>
									Dar de baja
								</v-btn>

								<v-btn
								color="#FF5000"
								dark
								@click="showAlertDown = false"
								>
									Cancelar
								</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
				</div>

				<v-row>
					<v-col
					v-if="material.chapters.season"
					cols="6">
						<h3>
							Temporada {{ material.chapters.season}}
						</h3>
						<p>{{ material.chapters.total}}</p>
					</v-col>
					<v-col cols="6">
						<h3>
							Duración de la programación
						</h3>
						<p>{{ duration }}</p>
					</v-col>
					<v-col cols="6">
						<h3>
							Tipo de Material
						</h3>
						<p>{{ material.features_material_type }}</p>
					</v-col>
					<v-col cols="6">
						<h3>
							Tipo de Contenido
						</h3>
						<p>{{ material.features_content_type }}</p>
					</v-col>
					<v-col cols="6">
						<h3>
							Centro de Costo
						</h3>
						<p>{{ material.features_cost_center }}</p>
					</v-col>
					<v-col cols="6">
						<h3>
							Género
						</h3>
						<p>{{ material.features_material_gender }}</p>
					</v-col>
					<v-col cols="6">
						<h3>
							Canal de Transmisión
						</h3>
						<p>{{ material.transmission_channel }}</p>
					</v-col>
				</v-row>
			</v-col>
		</v-row>
	</v-card>
</template>

<script>
import { mapActions } from 'vuex';
export default {
	name: "card-material",

	props: {
		material: {
			type: Object,
			requeried: true,
		}
	},

	data: ()=>{
		return {
			showAlertDown: false,
		}
	},

	computed: {
		duration() {
			let time = this.material.duration.split( ":" );

			time = {
				hours: Number(time[0]),
				minutes: Number(time[1])
			}

			return `${time.hours}h ${time.minutes}min`;
		}
	},

	methods:{
		...mapActions( "storecontrol", [ "downMaterial" ]),
		confirmDown(id){
			this.downMaterial(id).finally( () => {
				this.showAlertDown = false;
			})
		}
	}
}
</script>
<style lang="scss" scoped>
.material{
	margin: auto;
	overflow: hidden;
	margin-bottom: 2rem;

	.details-left{
		padding: 1rem;

		> div {

			margin: 6rem auto;
			width: 80%;
			> div {
				margin-top: 2rem;
				background-color: #FF5000;
				color: white;
				padding: 0.3rem 1rem;
			}
		}
	}

	.details {
		padding: 1rem;
		background-color: #E0E0E0;

		.icon-tools {
			margin: 0.5rem 2rem 1.5rem 0;
			.v-btn {
				padding: 0;
				margin-left: 0.5rem;
			}
		}
	}
}
</style>