<template>
	<div class="filter-material">
		<v-row>
			<v-col cols="3" offset="4">
				<v-select
					label="Filtrar"
					outlined
					dense
				></v-select>
			</v-col>
			<v-col cols="3">
				<v-text-field
					label="Buscar"
					prepend-inner-icon="mdi-magnify"
					single-line
					outlined
					dense
				></v-text-field>
			</v-col>
			<v-col>
				<v-btn
				dark
				color="#FF5000">
					Buscar
				</v-btn>
			</v-col>
		</v-row>
	</div>
</template>

<script>
export default {
	name: 'filter-material'
}
</script>
<style lang="scss" scoped>
.filter-material{
	margin: 6rem auto -2rem auto;
	max-width: 1024px;
	text-align: right;
}
</style>