<template>
	<div id="form-material">
		<v-row class="form-group">
			<v-col cols="12">
				<h2 class="text-h6">
					Títulos del material
				</h2>
			</v-col>

			<v-col cols="3">
				Título Original:
			</v-col>

			<v-col cols="9">
				<v-text-field
					dense
					single-line
					outlined
					hide-details="auto"
					v-model="details.title_original"
				></v-text-field>
			</v-col>

			<v-col cols="3">
				Título en Español y/o Sugerido:
			</v-col>

			<v-col cols="9">
				<v-text-field
					dense
					single-line
					outlined
					hide-details="auto"
					v-model="details.title_spanish"
				></v-text-field>
			</v-col>

			<v-col cols="3">
				Título Comercial:
			</v-col>

			<v-col cols="9">
				<v-text-field
					dense
					single-line
					outlined
					hide-details="auto"
					v-model="details.title_commercial"
				></v-text-field>
			</v-col>
		</v-row>

		<v-row class="form-group">
			<v-col cols="12">
				<h2 class="text-h6">
					Duración del material
				</h2>
			</v-col>

			<v-col cols="3">
				Duración:
			</v-col>

			<v-col cols="9">
				<v-menu
					ref="menu"
					v-model="duration_menu"
					:close-on-content-click="false"
					:nudge-right="40"
					:return-value.sync="details.duration"
					transition="scale-transition"
					offset-y
					max-width="290px"
					min-width="290px"
				>
					<template v-slot:activator="{ on, attrs }">
						<v-text-field
							dense
							v-model="details.duration"
							label="Clic para indicar la duración"
							readonly
							v-bind="attrs"
							v-on="on"
							single-line
							outlined
							hide-details="auto"
						></v-text-field>
					</template>
					<v-time-picker
						v-if="duration_menu"
						v-model="details.duration"
						full-width
						format="24hr"
						@click:minute="$refs.menu.save(details.duration)"
					></v-time-picker>
				</v-menu>
			</v-col>
		</v-row>

		<v-row class="form-group">
			<v-col cols="12">
				<h2 class="text-h6">
					Capítulos del material
				</h2>
				<p class="font-italic">
					*Solo llenar si el material tiene capítulos
				</p>
			</v-col>

			<v-col cols="4" class="season-date">
				<v-text-field
					dense
					label="Temporada"
					outlined
					type="number"
					min="0"
					hide-details="auto"
					background-color="white"
					v-model="details.chapters.season"
				></v-text-field>
			</v-col>

			<v-col cols="4" class="season-date">
				<v-text-field
					dense
					label="N de Capítulos"
					outlined
					type="number"
					min="0"
					hide-details="auto"
					background-color="white"
					v-model="details.chapters.total"
				></v-text-field>
			</v-col>
		</v-row>

		<v-row class="form-group">
			<v-col cols="12">
				<h2 class="text-h6">
					Características del material
				</h2>
			</v-col>

			<v-col cols="3">
				Tipo de Material:
			</v-col>

			<v-col cols="5">
				<v-select
					dense
					:items="options_material_type"
					label="Seleccionar"
					outlined
					v-model="details.features_material_type"
				></v-select>
			</v-col>
			<v-col cols="4"></v-col>

			<v-col cols="3">
				Tipo de Contenido:
			</v-col>

			<v-col cols="5">
				<v-select
					dense
					:items="options_content_type"
					label="Seleccionar"
					outlined
					v-model="details.features_content_type"
				></v-select>
			</v-col>
			<v-col cols="4"></v-col>

			<v-col cols="3">
				Centro de Costo:
			</v-col>

			<v-col cols="5">
				<v-select
					dense
					:items="options_cost_center"
					label="Seleccionar"
					outlined
					v-model="details.features_cost_center"
				></v-select>
			</v-col>
			<v-col cols="4"></v-col>

			<v-col cols="3">
				Género de Material:
			</v-col>

			<v-col cols="5">
				<v-select
					dense
					:items="options_material_gender"
					label="Seleccionar"
					outlined
					v-model="details.features_material_gender"
				></v-select>
			</v-col>
			<v-col cols="4"></v-col>

			<v-col cols="3">
				Clasificación:
			</v-col>

			<v-col cols="5">
				<v-select
					dense
					:items="options_classification"
					label="Seleccionar"
					outlined
					v-model="details.features_classification"
				></v-select>
			</v-col>
			<v-col cols="4"></v-col>
		</v-row>

		<v-row class="form-group">
			<v-col cols="12">
				<h2 class="text-h6">
					Canal de transmisión
				</h2>
			</v-col>

			<v-col cols="12">
				<v-checkbox
					v-model="details.transmission_channel"
					color="#FF5000"
					label="América TV"
					value="América TV"
				></v-checkbox>
				<v-checkbox
					v-model="details.transmission_channel"
					color="#FF5000"
					label="América Next"
					value="América Next"
				></v-checkbox>
			</v-col>

			<v-col cols="12" class="d-flex justify-end mb-6">
				<v-dialog
				v-model="showAlertCancel"
				persistent
				max-width="480"
				>
					<template v-slot:activator="{ on, attrs }">
						<v-btn
							color="#FF5000"
							outlined
							v-bind="attrs"
							v-on="on"
						>
							Cancelar
						</v-btn>
					</template>
					<v-card>
						<v-card-title class="headline">
							<v-icon class="mr-4">
								mdi-emoticon-confused-outline
							</v-icon> Un momento!
						</v-card-title>
						<v-card-text>
							Estás seguro que quieres cancelar el formulario?
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>

							<v-btn
							color="#FF5000"
							outlined
							@click="$router.push( { name: 'material' } )"
							>
								Sí, Cancelar
							</v-btn>

							<v-btn
							color="#FF5000"
							dark
							@click="showAlertCancel = false"
							>
								Seguir aquí
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>

				<v-btn
					color="#FF5000"
					dark
					class="ml-8"
					@click="sendMaterial()"
				>
					Ingresar
				</v-btn>

				<v-dialog
				v-model="showAlertSuccess"
				persistent
				max-width="480"
				>
					<v-card>
						<v-card-title class="headline">
							<v-icon class="mr-4">
								mdi-emoticon-happy-outline
							</v-icon> Buen trabajo!
						</v-card-title>
						<v-card-text>
							<p>
								El material "{{details.title_commercial}}" se ha agregado a la lista.
							</p>
							<p>
								Su código es {{details.code}}
							</p>

						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>

							<v-btn
							color="#FF5000"
							outlined
							@click="$router.push( { name: 'material' } )"
							>
								Ver material
							</v-btn>

							<v-btn
							color="#FF5000"
							dark
							@click="resetForm()"
							>
								Nuevo material
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-col>
		</v-row>


		<v-dialog
		v-model="showAlertDown"
		persistent
		max-width="480"
		>
			<v-card class="pt-5">
				<v-card-text>
					<v-icon class="mr-4">
						mdi-emoticon-confused-outline
					</v-icon> Si das de baja a este material ya no podrás programarlo.
					<p>Seguro que quieres continuar?</p>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>

					<v-btn
					color="#FF5000"
					outlined
					@click="()=>{$router.push( { name: item.url } )}"
					>
						Dar de baja
					</v-btn>

					<v-btn
					color="#FF5000"
					dark
					@click="showAlertDown = false"
					>
						Cancelar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import { mapActions } from "vuex";

export default {
	name: 'form-material',

	data: () => {
		return {
			details: {
				title_original: null,
				title_spanish: null,
				title_commercial: null,
				duration: null,
				chapters: {
					season: null,
					total: null
				},
				features_material_type: null,
				features_content_type: null,
				features_cost_center: null,
				features_material_gender: null,
				features_classification: null,
				transmission_channel: [],
				code: Math.random().toString(36).substr(2, 9)
			},
			
			duration_menu: false,
			
			options_material_type: ["Producción Nacional","Fusión Gourmet","Otros"],
			options_content_type: ["Serie","Novela","Miniserie"],
			options_cost_center: ["001526","001563","001489"],
			options_material_gender: ["Comedia","Drama","Acción"],
			options_classification: ["MAY 14","Apta para Todos","MAY 18"],

			showAlertCancel: false,
			showAlertSuccess: false,

			showAlertOut: false,
		}
	},

	methods:{
		...mapActions( "storecontrol", [ "registerMaterial" ] ),

		sendMaterial() {
			this.details.duration = `${this.details.duration}:00.000`;
			this.registerMaterial( this.details ).finally( () => this.showAlertSuccess= true )
		},

		resetForm(){
			this.showAlertSuccess = false

			this.details= {
				title_original: null,
				title_spanish: null,
				title_commercial: null,
				duration: null,
				chapters: {
					season: null,
					total: null
				},
				features_material_type: null,
				features_content_type: null,
				features_cost_center: null,
				features_material_gender: null,
				features_classification: null,
				transmission_channel: [],
				code: Math.random().toString(36).substr(2, 9)
			}
		}
	}
}
</script>
<style lang="scss" scoped>
#form-material{
	margin: 2rem auto;
	max-width: 1024px;

	.form-group{
		&:not(:last-child){
			border-bottom-color: #828282;
			border-bottom-style: solid;
			border-bottom-width: 2px;
		}

		padding-bottom: 2rem;
		padding-top: 2rem;

		h2{
			color: #FF5000;
			text-transform: uppercase;
		}

		h2~p{
			color: #FF5000;

		}

		.season-date{
			background-color: #E0E0E0;
		}
	}
}
</style>