<template>
	<v-app class="app-atv">
		<div class="menu-top">
			<v-row>
				<v-col>
					Logo
				</v-col>
				<v-col 
					v-for="(item, index) in menu"
					:key="index"
					:class="item.actived.includes($route.name) ? `item-menu text-center actived` : `item-menu text-center`"
					@click="$router.push( { name: item.url } )"
				>
					{{ item.name }}
				</v-col>
			</v-row>
		</div>

		<v-main>
			<router-view/>
		</v-main>
	</v-app>
</template>

<script>

export default {
	name: 'App',

	data: () => {
		return {
			menu: [
				{ name: "Materiales", url: "material", actived: ["material","material-setting"] },
				{ name: "Programas", url: "programas",actived: ["programas"] },
				{ name: "Segmentos", url: "programas",actived: ["programas"] },
				{ name: "Soporte", url: "programas",actived: ["programas"] },
				{ name: "Parrilla", url: "programas",actived: ["programas"] },
				{ name: "Vista", url: "programas",actived: ["programas"] },
				{ name: "Salir", url: "programas",actived: ["programas"] },
			]
		}
	},
};
</script>
<style lang="scss" scoped>
.app-atv {
	padding-top:4rem;
}

.menu-top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: white;
	padding: 1rem 0 0 0;

	.row{
		.item-menu{
			background-color: #262626;
			color: white;

			&.actived, &:hover {
				background-color: #FF5000;
			}
		}

		max-width: 1024px;
		margin: auto;
	}
}
</style>